@import "../variables";

.product-main {
  width: 270px;

  &_thumnail {
    width: 100%;
    height: 250px;
    position: relative;
    
    img {
      width: 270px;
      height: 250px;
      object-fit: contain;
    }

    .product-promotion {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 55px;
      height: 26px;
      background-color: $color-secondary-second3;
      border-radius: 4px;
      color: $color-white;

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
      }
    }

    .product-icon {
      position: absolute;
      top: 12px;
      left: 224px;

      .icon-product {
        width: 34px;
        height: 34px;
        background-color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 3px;
        color: $color-black;

        .icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .add-cart {
      position: absolute;
      width: 270px;
      height: 41px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-black;
      color: $color-white;
      align-items: center;
      justify-content: center;
      display: none;
      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &_thumnail:hover {

    .add-cart {
      display: flex;
    }
  }

  &_info {
    margin: 10px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &_name-product {
      font-weight: 700;
      color: $color-black;
    }

    &_price-product {
      margin: 10px 0;
      .price-sale {
        color: $color-secondary-second3;
        margin-right: 10px;
      }
      .price-discout {
        color: $color-gray;
        text-decoration: line-through;
      }
    }
    &_ratting-product {
      span {
        margin-left: 10px;
      }
    }
  }
}
