@import "../variables";

.top-header {
  width: 100%;
  height: 40px;
  background-color: $color-black;
  color: $color-white;
  display: flex;

  &_title {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      margin-right: 10px;
      font-size: 14px;
    }

    a {
      color: $color-white;
      font-size: 14px;
      text-decoration: underline;
    }

    a:hover {
      color: $color-white;
      text-decoration: underline;
    }
  }

  &_select {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;

    select {
      background-color: $color-black;
      color: $color-white;
      border: none;
      border-radius: 4px;
      font-size: 14px;
    }
  }
}
