$color-primary: #5f2eea;
$color-secondary: #1cc8ee;
$color-warning: #f4b740;
$color-error: #ed2e7e;
$color-success: #00ba88;

$color-black: #000;
$color-white: #ffffff;
$color-gray: #7d8184;

$color-secondary-second1: #fefaf1;
$color-secondary-second2: #f5f5f5;
$color-secondary-second3: #db4444;
$color-secondary-second4: #cbe4e8;

$color-button1: #00ff66;
$color-button2: #db4444;
$color-button-hover1: #e07575;
$color-button-hover2: #a0bce0;

$color-gradient-secondary: linear-gradient(114.44deg, #624af2 0%, #50ddc3 100%);
$color-gradient-accent: linear-gradient(114.44deg, #eb0055 0%, #fffa80 100%);
$color-gradient-primary: linear-gradient(114.44deg, #7433ff 0%, #ffa3fd 100%);

$res_280: "only screen and (max-width: 280px)";
$res_240320: "only screen and (min-width: 240px) and (max-width: 320px)";
$res_320374: "only screen and (min-width: 320px) and (max-width: 374px)";
$res_375424: "only screen and (min-width: 375px) and (max-width: 424px)";
$res_424: "only screen and (max-width: 424px)";
$res_480: "only screen and (max-width: 480px)";
$res_576: "only screen and (max-width: 576px)";
$res_425767: "only screen and (min-width: 425px) and (max-width: 767px)";
$res_767: "only screen and (max-width: 767px)";
$res_768: "only screen and (min-width: 768px)";
$res_768991: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_991: "only screen and (max-width: 991px)";
$res_01199500: "only screen and (max-width: 1199px) and (min-height: 500px)";
$res_01199499: "only screen and (max-width: 1199px) and (max-height: 499px)";
$res_992: "only screen and (min-width: 992px)";
$res_992767: "only screen and (max-width: 767px) and (orientation: landscape)";
$res_1024768: "only screen and (min-width: 768px) and (orientation: landscape)";
$res_9921023: "only screen and (min-width: 992px) and (max-width: 1023px)";
$res_10241365: "only screen and (min-width: 1024px) and (max-width: 1365px)";
$res_0102401366: "only screen and (min-width: 1024px) and (min-height: 1366px)";
$res_01199: "only screen and (max-width: 1199px)";
$res_1200: "only screen and (min-width: 1200px)";
$res_01023: "only screen and (max-width: 1023px)";
$res_1024: "only screen and (min-width: 1024px)";
$res_01365: "only screen and (max-width: 1365px)";
$res_1366: "only screen and (min-width: 1366px)";
$res_1400: "only screen and (min-width: 1400px)";
$res_1600: "only screen and (min-width: 1600px)";
$res_12001599: "only screen and (min-width: 1200px) and (max-width: 1599px)";
